%h2(align="center")= "#{@group.name} Panel de administracion"

%h3 Grupos
%table.index_table
  %thead
    %tr
      %th Email
      %th Nombre(s)
      %th Apellidos
      %th Fecha de nacimiento
      %th Nombre del tutor
  %tbody
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.profile.firstname
      %td= user.profile.lastname
      %td= user.profile.birthdate
      %td= user.profile.tutor_name

#sidebar
  #filters_sidebar_section.sidebar_section.panel
    %h3 something
    %div.panel_contents
      %span= button_to "Agregar nuevo usuario", new_application_admin_organization_group_user_path(params[:organization_id], params[:id]), :method => "get" 
      %span= button_to "Editar grupo", edit_application_admin_organization_group_path(params[:organization_id], params[:id]), :method => "get"
      %span= button_to "Eliminar grupo",application_admin_organization_group_destroy_path(params[:organization_id],params[:id]), :method => "delete"
