%div.main_content
  = form_for @profile, :url => ":id/update_profile" do |f|
    %table.index_table
      %tbody
        %tr
          %td( width = "150px")= f.label "Nombre(s):"
          %td= f.text_field :firstname
        %tr
          %td= f.label "Apellidos:"
          %td= f.text_field :lastname
        %tr
          %td= f.label "Fecha de nacimiento:"
          %td= f.date_select :birthdate, :start_year => 1900
        %tr
          %th( colspan = "2" ) Dirección
        %tr
          %td= f.label "Calle"
          %td= f.text_field :street
        %tr
          %td= f.label "Número:"
          %td= f.text_field :number
        %tr
          %td= f.label "Colonia:"
          %td= f.text_field :neighborhood
        %tr
          %td= f.label "Código postal:"
          %td= f.text_field :zipcode
        %tr
          %td= f.label "Ciudad"
          %td= f.text_field :city
        %tr
          %td= f.label "Estado:"
          %td= f.text_field :state
        %tr
          %td= f.label "País:"
          %td= f.country_select :country
        %tr
          %th( colspan = "2" ) Información personal
        %tr
          %td= f.label "Nombre del tutor:"
          %td= f.text_field :tutor_name
        %tr
          %td= f.label "Ocupación del paciente:"
          %td= f.text_field :ocupation
        %tr
          %td= f.label "Biografía:"
          %td= f.text_area :bio
        %td
          %td( colspan = "2" )= f.submit "Actualizar perfil"
