%h2(align="center")= "#{@organization.name} Panel de administracion"

%h3 Grupos
%table.index_table
  %thead
    %tr
      %th Nombre
      %th Descripción
      %th 
  %tbody
  - @groups.each do |group|
    %tr
      %td group.name
      %td group.description
      %td 

#sidebar
  #filters_sidebar_section.sidebar_section.panel
    %h3 something
    %div.panel_contents
      %span= button_to "Nuevo grupo", groups_new_path, :method => "get"
      %span= button_to "Editar organización", organizations_edit_path(params[:id])
      %span= button_to "Eliminar organización", organizations_delete_path(params[:id]), :method => "delete"
