%h2(align = "center") Escriba los nombres de los siguientes animales

%ul.thumbnails
  - @gnosias.each do |gnosia|
    :javascript
      $(document).ready(function(){
        $('.btn.btn-inverse.submit#{gnosia.id}').click(function(){
          $.ajax({
            url: 'gnosia/#{gnosia.id}',
            type: 'GET'
          }).done(function(answer){
            var answers = answer.answer;
            console.log(answers);
            if(answers.indexOf($('.input#{gnosia.id}').val()) != -1){
              $('.answer#{gnosia.id}').empty();
              $('.answer#{gnosia.id}').append('Correcto!');
            }else{
              $('.answer#{gnosia.id}').empty();
              $('.answer#{gnosia.id}').append('Incorrecto...');
            }
          });
        });
      });
    %li.span3
      .thumbnail
        = image_tag gnosia.image.url(:medium)
        %table
          %tr
            %td(colspan = "2")
              %p= gnosia.question
          %tr
            %td
              %input{:type => "text", :class => "input-small input#{gnosia.id}"}
            %td
              %a{:class => "btn btn-inverse submit#{gnosia.id}"} Responder
          %tr
            %td{:colspan => "2"}
              %h2{:class => "answer#{gnosia.id}"}
