:javascript
  var pagination_options = {
    num_edge_entries: 2,
    num_display_entries: 8,
    callback: pageselectCallback,
    items_per_page:3
  };
  function pageselectCallback(page_index, jq){
    var items_per_page = pagination_options.items_per_page;
    var offset = page_index * items_per_page;
    var new_content = $('#hiddenresult div.result').slice(offset, offset + items_per_page).clone();
    $('#Searchresult').empty().append(new_content);
    return false;
  }

  function initPagination() {
    var num_entries = $('#hiddenresult div.result').length;
    // Create pagination element
    $("#Pagination").pagination(num_entries, pagination_options);
  }

  $(document).ready(function(){      
         initPagination();
  });
  
%h2 Responda las siguientes preguntas
%table.index_table
  %thead
    %tr
      %th
        %h3 Problema
      %th 
      %th
      %th
  %tbody
  - @questions.each do |question|
    :javascript
      $(document).ready(function(){
        $('.submit#{question.id}').click(function(){
          $.ajax({
            url: 'question/#{question.id}',
            type: 'GET'
          }).done(function(answer){
            if($('.input#{question.id}').val() == answer.answer){
              $('.answer#{question.id}').empty();
              $('.answer#{question.id}').append('Correcto!');
            }else{
              $('.answer#{question.id}').empty();
              $('.answer#{question.id}').append('Incorrecto...');
            }
          });
        });
      });
    %tr
      %td
        %h3= question.question
      %td
        %input(class = "input#{question.id}" name = 'a[answer]' type = "text" placeholder = "Escribe tu respuesta aquí...")
      %td
        %span(class = "submit#{question.id}")
          %a.btn.btn-inverse Responder
      %td
        %h3(class = "answer#{question.id}") No contestado
