%h2 login
= form_tag user_session_path do
  %table
    %tr
      %td= label_tag "Correo electrónico"
    %tr
      %td= text_field_tag 'user[email]'
    %tr
      %td= label_tag "Contraseña"
    %tr
      %td= password_field_tag 'user[password]'
    %tr
      %td
        = check_box_tag 'user[remember_me]'
        = label_tag "Recordar contraseña"
    %tr
      %td
        %button Iniciar Sesión
    %tr
      %td= link_to "Olvido su contraseña?", new_password_path('user')
    %tr
      %td= link_to "Registrese", new_user_registration_path
    %tr
      %td= link_to "Eres administrador de un grupo de la 3a edad?", new_application_admin_user_session_path
