= render partial: 'templates/calculus'
= render partial: 'templates/gnosias'
= render partial: 'templates/language'
= render partial: 'templates/memory'
= render partial: 'templates/orientation'
= render partial: 'templates/praxias'
