!!!
%html
  %head
    %title Alzheimer
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topnav
      = render 'layouts/top-navbar'
    .alerts
      = render 'layouts/alerts'
    .render-views
      = yield
    .footer(align = "center")
      %h3 &copy; WaveSystems 2012
